/* assets/styles/checkout-theme.scss */

/* Aplica as cores em elementos gerais dentro do layout do checkout */
.checkout-theme-wrapper {

  // Cores Gerais
  h1, h2, h3, h4, h5, h6, .text-h6, .text-subtitle-1 {
    color: var(--theme-titles-color, #333);
  }

  p, span, div, .text-body-1, .text-body-2, .text-caption, .v-label {
    color: var(--theme-descriptions-color, #666);
  }

  // Cor do Valor Total no Resumo
  .order-summary-total {
    color: var(--theme-total-value-color, #000) !important;
    h2, p {
      color: var(--theme-total-value-color, #000) !important;
    }
  }

  // Botão Primário (Concluir Pagamento)
  .v-btn.bg-success {
    background-color: var(--theme-primary-button-bg, #00E676) !important;
    color: var(--theme-primary-button-text, #FFFFFF) !important;
    .v-btn__content {
      color: var(--theme-primary-button-text, #FFFFFF) !important;
    }
  }
  
  // Botão de Navegação (Próximo)
  .v-btn.btn-navigation {
    background-color: var(--theme-navigation-button-bg, #1E88E5) !important;
    color: var(--theme-navigation-button-text, #FFFFFF) !important;
    .v-btn__content {
      color: var(--theme-navigation-button-text, #FFFFFF) !important;
    }
  }

  // Stepper de Etapas
  .app-stepper {
    .stepper-steps-active {
      .stepper-title {
        color: var(--theme-active-step-color, #000) !important;
        font-weight: 500 !important;
      }
      .v-avatar {
        background-color: var(--theme-step-tag-bg, #333) !important;
        h5 {
          color: var(--theme-step-tag-text, #FFF) !important;
        }
      }
    }
  }
}